*{
    margin: 0;
    padding: 0;
}

nav{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.082);
    height: 70px;
    width: 100%;
    font-size: 17px;
    position: fixed;
}

nav a{
    color: white;
    text-decoration: none;
}

.nav-items{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 50px;
}

.btn {
    font-size: 20px;
    padding: 10px;
    margin: 30px;
    background: transparent;
    color: white;
    border: 1px solid;
}

.hero{
    background-image: url(./images/girl-1866959_1280.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

.overlay{
    background-color: rgba(0, 0, 0, 0.356);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    font-size: 25px;
    color: white;
    gap: 24px;
}

.hero p{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#hero-button{
    background-color: green;
    color: white;
    padding: 16px 24px;
    border-radius: 27px;
    border: none;
    font-size: 20px;
}

.bg-green{
    background-color: #4ebe2a;
    color: white;
    /* padding: ;16px 24px */
    font-size: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    border: none;
    border-radius: 20px;
}

.bg-ash{
    background-color: #6c757d;
    color: white;
    font-size: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    border: none;
    border-radius: 20px;
}

#hero-title{
    font-size: 5rem;
    font-weight: lighter;
}

.name{
    font-weight: bold;
}

.work-flex{
    display: flex;
    flex-direction: row;
    padding-left: 26px;
    height: 100vh;

}

.work-grid{
    display: flex;
    flex-direction: row;
    margin: 5rem;
}

.work-text{
    display: flex;
    flex-direction: column;
    padding-right: 10px;
    gap: 30px;
    margin: 20px;
    font-size: 20px;
}

.work-text h4{
    font-size: 3rem;
    font-weight: lighter;
    color: #2c3e50;
}

img{
    height: 550px;
    width: 539px;
}

.title{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 50px;
}

.title h1{
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-size: 3rem;
    gap: 10px;
    font-weight: lighter;
}

.title p{
    display: flex;
    flex-direction: row;
    font-size: 20px;
    margin-top: 20px;
}



.exp-box{
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-left: 200px;
    padding-right: 200px;
    gap: 10px;
    margin-left: 120px;
    margin-right: 80px;
}

.title h1{
    color: #2c3e50;
}

.title p{
    color: #2c3e50;
}

.box-items{
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: #f8f9fa;
    border: 5px solid #f8f9fa;
    margin: 10px;
    height: 290px;
    width: 520px;
}

.box-items p{
    font-weight: lighter;
    color: #798a9a;
}

.date{
    font-size: 25px;
    font-weight: bolder;
    margin-top: 20px;
    color: #2c3e50;
}

.study{
    font-size: 28px;
    margin-top: 15px;
    margin-bottom: 15px;
    font-weight: normal;
    color: #2c3e50;
}

.sch{
    font-size: 20px;
    margin-top: 15px;

}

.box-items h5{
    display: flex;
    flex-direction: row;
    font-weight: 28px;
    color: #2c3e50;
}

.box-items h6{
    font-weight: lighter;
    color: #2c3e50;
}

.box-items:hover {
    border-color: #57d131;
}

.res-sect{
    background-color: whitesmoke;
    height: 120vh;
    display: flex;
    flex-direction: column;
}

.details{
    display: flex;
    flex-direction: column;
    row-gap: 15px;
}

.details p{
    color: #798a9a;
}

.work-text p{
    color: #2c3e50;
}

.work-text h5{
    font-size: 20px;
    color: #2c3e50;
}

/* .icons-gallery{
    
} */
.serv-sect{
    display: flex;
    flex-direction: row;
    /* width: 100%; */
    height: 100%;
    margin-left: 5%;
    margin-right: 5%;
    height: 100%;
    margin-bottom: 5%;
    margin-top: 5%;
}
.icons-gallery{
    /* width: 500px; */
    width: 30%;
    margin-right: 30px;
    background-color: green;
    height: 300px;
    /* margin-left: 20px; */
    gap: 40px;
}
/* .icons-gallery img, span,p{
    margin-bottom: 20px;
    align-items: center; */
/* } */
/* .icons-gallery span,p{
    margin-bottom: 20px; */
/* } */
.mobile-span{
    margin-bottom: 20px;
}
.icons-gallery img{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    /* gap: 40px; */
}
.main-icon{
    margin-top: 20px;
    margin-left: 50%;
}
.mobile-span{
    margin-top: 10px;
    margin-left: 40%;
}
.p{
    margin-top: 10px;
    margin-left: 40%;
    text-align: justify;
}
.text-green{
    margin-top: 10px;
    margin-left: 40%;
     color: green;
}

.ss h5{
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-size: 3rem;
    padding-bottom: 25px;
    margin-top: 50px;
    font-weight: lighter;
    color: #2c3e50;
}  

.ss{
    display: flex;
    flex-direction: column;
    margin-bottom: 70px;
    margin-top: 70px;
}

.will{
    display: flex;
    flex-direction: row;
    margin-left: 273px;
    margin-right: 273px;
    padding: 10px;
    font-size: 18px;
    gap: 50px;
}

.img{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 15px;
    background-color: #4ebe2a;
    padding: 10px;
    width: 70px;
    /* padding-left: 10px;  */
    border-radius: 50%;
    margin-left: 50px;

}

.boxxx h6{
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-size: 18px;
    margin-top: 15px;
    color: #2c3e50;
}

.btnn{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 15px;
    color: #4ebe2a;
}

.boxxx{
    padding: 10px;
    row-gap: 20px;
}

.boxxx p{
    margin-top: 15px;
    color: #798a9a;
}

.boxxx i {
    color: black;
    font-size: 3rem;
}

.footer-pics h4{
    display: flex;
    flex-direction: row;
    padding-left: 30%;
    font-size: 20px;
    font-weight: lighter;
}

.footer-pics h6{
    display: flex;
    flex-direction: row;
    padding-left: 31%;
    font-size: 16px;
    margin-top: 3px;
    font-weight: lighter;
}

.footer-sect{
    display: flex;
    flex-direction: column;
    padding-left: 120px;
    padding-bottom: 90px;

}

.footer-sect p{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 38px;
    gap: 30px;
    font-size: 18px;
    color: #798a9a;
}

.footer-sect h5{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 100px;
    font-size: 3rem;
    font-weight: lighter;
    margin-top: 50px;
    color: #2c3e50;
}

.footer-gallery{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 100%;
    padding-top: 30px;
    row-gap: 20px;
    
}

.footer-pics{
    width: 100%;
    height: 50%;
    position: relative;
    z-index: 500px;
    
}

.footer-pics img{
    width: 400px;
    height: 400px;
    object-fit: fill;
}

.footer-pics h4{
    color: #2c3e50;
}

.footer-pics h6{
    color: #798a9a;

}

.blog-sect{
    display: flex;
    flex-direction: row;
    padding-left: 120px;
    font-size: 20px;
    gap: 30px;
    height: 80vh;
    margin-top: 50px;
    
}

.blog-stuff{
    display: flex;
    flex-direction: column;
}

.blog-stuff h3{
    display: flex;
    flex-direction: row;
    margin-top: 30px;
    font-weight: lighter;
    color: #2c3e50;
}

.blog-stuff p{
    display: flex;
    flex-direction: row;
    margin-top: 20px;
    font-weight: lighter;
    color: #798a9a;
}
.blog-stuff img{
    height: 300px;
    width: 350px;
}

#one-text{
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-size: 3rem;
    margin-top: 90px;
    margin-bottom: 30px;
    color: #2c3e50;
}

.blog-stuff h6{
    font-weight: lighter;
    color: #798a9a;
    margin-top: 30px;
    font-size: 16px;
}

.grid-items{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    font-size: 20px;
    margin-left: 15%;
    
    
}

.last-sect{
    height: 70vh;
    background-color: #f8f9fa;

}

.fin h2{
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-size: 3rem;
    font-weight: lighter;
    color: #2c3e50;
    /* margin-top: 50px; */
    margin-bottom: 30px;
    padding-top: 60px;
}

.icons{
    margin-bottom: 20px;
    margin-top: 50px;
}

.add{
    margin-bottom: 20px;
    color: #2c3e50;
}

.deats{
    color: #798a9a;
}

.foot{
    display: flex;
    flex-direction: row;
    margin-top: 20%;
    font-size: 20px;
    gap: 10%;
    margin-left: 10%;
    height: 70vh;
    
}

.ft a{
    display: flex;
    flex-direction: column;
    color: #798a9a;
    text-decoration: none;
    gap: 20px;
    
}

.foot h5{
    font-size: 25px;
    margin-bottom: 20px;
    color: #2c3e50;
}

.ft p{
    color: #798a9a;
}

.p1{
    margin-bottom: 10px;
}

.p2{
    margin-bottom: 10px;
}

.p3{
    margin-bottom: 10px;
}

.p4{
    margin-bottom: 10px;
}

.text-ash{
    font-weight: bolder;
}