* {
    margin: 0;
    padding: 0;
}



nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-image: url(./images/bgimg.jpg);
    height: 100vh;
}

.heroimg{
    background-image: url(./images/bgimg.jpg);
    height: 100vh;
}

.hero-section{
    display: flex;
    flex-direction: row;
}

.overlay{
    
}