*{
    margin: 0;
    padding: 0;
}

nav{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: black;
    height: 70px;
    width: 100%;
    font-size: 17px;
}

nav a{
    color: white;
    text-decoration: none;
}

.nav-items{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 50px;
}

.btn {
    font-size: 20px;
    padding: 10px;
    margin: 30px;
}

.hero{
    background-image: url(./images/coffee.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

.overlay{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    font-size: 25px;
    color: white;
    gap: 24px;
}

.hero p{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#hero-button{
    background-color: green;
    color: white;
    padding: 16px 24px;
    border-radius: 27px;
    border: none;
    font-size: 20px;
}

#hero-title{
    font-size: 5rem;
    font-weight: lighter;
}

.name{
    font-weight: bold;
}

.work-flex{
    display: flex;
    flex-direction: row;
    padding-left: 26px;
    height: 100vh;

}

.work-grid{
    display: flex;
    flex-direction: row;
    margin: 5rem;
}

.work-text{
    display: flex;
    flex-direction: column;
    padding-right: 10px;
    gap: 30px;
    margin: 170px;
    height: 520px;
}

img{
    height: 550px;
    width: 539px;
}

.title{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 50px;
}

.exp-box{
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-left: 70px;
    gap: 10px;
}

.box-items{
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: white;
    border-style: solid;
}

.res-sect{
    background-color: azure;
    height: 70vh;
}